<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tourist Simulator Deluxe</title>

	<link rel="stylesheet" href="static/styles/homepage.css">
	<link rel="stylesheet" href="static/styles/maze.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="static/scripts/homepage.js"></script>
	<script type="text/javascript" src="static/scripts/maze.js"></script>
	<script type="text/javascript" src="static/scripts/navigation.js"></script>
	<!-- <script type="text/javascript" src="static/scripts/encounters.js"></script> -->
	<!-- <script type="text/javascript" src="static/scripts/inventory.js"></script> -->
</head>

<body>
	<div class="banner">
		<h1>Chepe's Simple Mazegame</h1>
	</div>

	<!-- <a id="backend" href="backend/backend.html">backend</a> -->

	<div class="game">
		<div class="map">
			<div class="map-bg"></div>
			<table class="maze"></table>
		</div>
	</div>

</body>
</html>
